.container__card__main {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.card {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  height: 515px;
  justify-content: space-between;
}

// LEFT

.card__left__container {
  display: flex;
  width: 300px;
  height: 100%;
  background-color: hsl(246, 77%, 57%);
  border-radius: 12px;
  flex-direction: column;
  z-index: 2;
}

.border__left__container {
  display: flex;
  width: 300px;
  height: 100%;
  background-color: #1c1f4a;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  z-index: 1;
  margin-top: -20px;
}

ul {
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85%;
  justify-content: space-evenly;
}

li {
  margin-bottom: 15px;
  color: #bdc1ff;

  &:first-child {
    margin-top: 15px;
  }

  &:hover {
    color: white;
    cursor: pointer;
  }
}

.card__left {
  display: flex;
  width: 80%;
  margin: 35px auto;
  flex-direction: column;
}

.image__left {
  display: flex;
  width: 100px;
  height: 100px;
}


// RIGHT
.card__right__container {
  display: flex;
  width: calc(98% - 300px);
}

.card__right {
  width: calc(98% - 300px);
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 25px;
}

.right {
  width: 250px;
  border-radius: 12px;
  position: relative;
}

.header__container__right {
  display: flex;
  width: 100%;
  height: 70px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-bottom: -50px;
  justify-content: flex-end;
}

.container__master__right {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: hsl(235, 46%, 20%);
  height: 100%;
  border-radius: 12px;

  &:hover {
    background-color: hsl(237, 41%, 42%);
    cursor: pointer;
  }
}

.container__bottom__card__right {
  position: absolute;
  display: flex;
  width: 100%;
  height: 83%;
  top: 17%;
}

.bottom__card__right {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 25px auto;
  justify-content: space-between;
  align-items: center;
}

.row__card__right {
  display: flex;
}

.hours__card__right {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 14px;
}

.last__week {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  color: hsl(236, 100%, 87%);
  font-size: 16px;
  margin-bottom: 3px;
}

.image__ellipsis {
  color: hsl(236, 100%, 87%);
}
.image__ellipsis:hover {
  color: white;
}
