.container__card__main {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.card {
  display: flex;
  // width: 1200px;
  margin: 0 auto;
  height: 480px;
  justify-content: space-evenly;
}

.container {
  display: flex;
  flex-direction: column;
}

// LEFT

.card__left__container {
  display: flex;
  width: 260px;
  background-color: hsl(246, 77%, 57%);
  border-radius: 12px;
  flex-direction: column;
  z-index: 2;
  height: 72rem;
}

.border__left__container {
  display: flex;
  width: 260px;
  height: 100%;
  background-color: #1c1f4a;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  z-index: 1;
  margin-top: -20px;
}

ul {
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85%;
  justify-content: space-evenly;
}

li {
  margin-bottom: 15px;
  color: #bdc1ff;

  &:first-child {
    margin-top: 15px;
  }

  &:hover {
    color: white;
    cursor: pointer;
  }
}

.card__left {
  display: flex;
  width: 80%;
  margin: 35px auto;
  flex-direction: column;
  height: 100%;
}

.image__left {
  display: flex;
  width: 100px;
  height: 100px;
}

// RIGHT
.card__right__container {
  display: flex;
  width: calc(98% - 260px);
}

.card__right {
  width: calc(98% - 260px);
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 25px;
}

.right {
  width: 250px;
  border-radius: 12px;
  position: relative;
}

.header__container__right {
  display: flex;
  width: 100%;
  height: 70px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-bottom: -50px;
  justify-content: flex-end;
}

.container__master__right {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: hsl(235, 46%, 20%);
  height: 100%;
  border-radius: 12px;

  &:hover {
    background-color: hsl(237, 41%, 42%);
    cursor: pointer;
  }
}

.container__bottom__card__right {
  position: absolute;
  display: flex;
  width: 100%;
  height: 83%;
  top: 17%;
}

.bottom__card__right {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 25px auto;
  justify-content: space-between;
}

.row__card__right {
  display: flex;
}

.hours__card__right {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.last__week {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  color: hsl(236, 100%, 87%);
  font-size: 16px;
  margin-bottom: 3px;
  margin-top: 10px;
}

.image__ellipsis {
  color: hsl(236, 100%, 87%);
}
.image__ellipsis:hover {
  color: white;
}

.img {
  border: 4px solid white;
  border-radius: 50%;
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.report {
  color: #bdc1ff;
}

.title__and__description {
  display: flex;
  flex-direction: column;
  height: 66px;
  justify-content: space-evenly;
  margin: 60px 0 10px 0;
}

.title {
  font-size: 45px;
  color: white;
}

.container__items {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
  .card {
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
  }
  .container__card__main {
    height: auto;
    margin-top: 25px;
  }
  .card__left {
    flex-direction: row;
  }
  .card__right__container {
    width: 90%;
    margin: 0 auto;
  }
  .card__right {
    grid-template-columns: auto;
    width: 100%;
  }
  .right {
    width: 100%;
    height: 200px;

    &:last-child {
      margin-bottom: 25px;
    }
  }
  .container {
    width: 90%;
    margin: 0 auto 25px auto;
  }
  .card__left__container {
    height: 135px;
  }
  .card__left__container,
  .border__left__container {
    width: 100%;
  }
  li:first-child {
    margin-top: 0px;
  }
  ul {
    align-items: center;
    flex-direction: row;
  }
  .border__left__container {
    height: 100px;
  }
  .title__and__description {
    margin: 0;
  }
  .img {
    height: 60px;
    width: 60px;
  }
  .report {
    margin: 0;
  }
  .title {
    font-size: 17px;
  }
}
